.envHeader {
    background-color: var(--mantine-color-green-2);
    padding-left: rem(40px);
    color: light-dark(var(--mantine-color-green-9), var(--mantine-color-dark));
}

.manHeader {
    background-color: var(--mantine-color-yellow-2);
    padding-left: rem(40px);
    color: light-dark(var(--mantine-color-yellow-9), var(--mantine-color-dark));
}

.thpHeader {
    background-color: var(--mantine-color-grape-2);
    padding-left: rem(40px);
    color: light-dark(var(--mantine-color-grape-9), var(--mantine-color-dark));
}

.title {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: rem(24px); 
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: rem(360px);
    color: light-dark(var(--mantine-color-dark), var(--mantine-color-white));
}